.inline-block {
    vertical-align: top;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    width: 1%;
    padding: 1%;
    text-align: center;
    position: fixed;
}
nav {
    width: 73%;
    padding: 1%;
    margin-left: auto;
}
nav ul {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    color: #61636A;
    width: 50%;
    margin-right: auto;

}
li {
    display: inline-block;
    padding: 10px;
}
.heroImg {
    height: 600px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
footer {
    background-color: #61636a;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
footer li {
    padding: 25px;
    font-size: 24px;
}