.inline-block {
    display: inline-block;
    vertical-align: top;
    color: #363636;
    background-color: #65c9d7;
}
.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;
}
nav {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #61636a;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    color: white;
}